<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Green Commute Challenge</title>
<link rel="stylesheet" media="screen" href="style.css" />
<link href="favicon.ico" rel="shortcut icon" type="image/x-icon" /><!-- custom favicon -->
<meta http-equiv="imagetoolbar" content="no" /><!-- disable IE's image toolbar -->
</head>

<body>
<div id="daddy">
	<div id="header">
		<div id="logo"><a href="./"><img src="images/logo.gif" alt="Your Company Logo" width="318" height="85" /></a><span id="logo-text"><a href="./"></a></span></div><!-- logo -->
		<div id="menu">
			<ul>
				<li><a href="index.html" id="active">Home</a></li>
				<li><a href="profile.html">Profile</a></li>
				<li><a href="./">Challenges</a></li>
				<li><a href="commutes.html">Commutes</a></li>
				<li><a href="./">About</a></li>
				<li><a href="./">Contact</a></li>
			</ul>
		</div><!-- menu -->
		<div id="headerimage">
			<div id="icons">
				<a href="./" ><img src="images/icon_home.gif" alt="Home" width="13" height="13" id="home" /></a>
				<a href="./"><img src="images/icon_sitemap.gif" alt="Sitemap" width="13" height="13" id="sitemap" /></a>
				<a href="./"><img src="images/icon_contact.gif" alt="Contact" width="13" height="13" id="contact" /></a>			</div><!-- icons -->
			<div id="slogan"></div>
		</div>
		<!-- headerimage -->
	</div>
	<!-- header -->
	<div id="content">
		<div id="cA">
			<div class="Ctopleft"></div>
			<h3>SEARCH</h3>
			<div id="search">
				<input type="text" class="search" /><input type="submit" class="submit" value="Find" />
			</div><!-- search -->
			<p>&nbsp;</p>
			<h3>Login (Not a user? <a href="./">Register</a>)</h3>
            <div id="facebooklogin">
			<p class="testimonial"><img src="images/facebook_icon.jpg" alt="Facebook Icon" width="87" height="100" class="leflo" />Username:<input type="text" class="login" />Password:<input type="password" class="password" /></p><p><input type="submit" class="loginsubmit" value="Login" /></p></div>
            <div id="googlelogin">
			<p class="testimonial"><img src="images/google_icon.jpg" alt="Google Icon" width="87" height="100" class="leflo" />Username:<input type="text" class="login" />Password:<input type="password" class="password" /></p><p><input type="submit" class="loginsubmit" value="Login" /></p></div>
		</div><!-- cA -->
		<div id="cB">
			<div class="Ctopright"></div>
			<div id="cB1">
				<h3>Welcome to the GREEN COMMUTE CHALLENGE!</h3>
				<div class="news">
					<p>The Green Commute Challenge is a point-based competition centered on getting people to use alternative forms of transportation as they go about their everyday lives.</p>
				</div>
				<div class="news">
					<p>Registering with us requires a <a href="http://www.facebook.com/">Facebook</a> or <a href="https://accounts.google.com/ServiceLogin?hl=en&continue=http://www.google.com/">Google</a> account and just a few clicks. As a user, you'll be able to enter your daily commutes into the system. Just choose a commute type and enter your miles travelled and you'll be awarded a point value. Rack up your points, and compare how you're doing with your friends with our search feature.</p>
				</div>
                <div class="news">
					<p>From time to time, a competition may be created by the system administrator. Any user or team of users will be able to enter any number of active competitions, and the points earned will be put toward the competition. Have the most points at the end of a competition? You may be eligible for prizes.</p>
				</div>
                <div class="news">
					<p>Commute. Enter. Win. It's that easy. Get started by logging in with your Facebook or Google account to the left, or registering <a href="./">here</a>.</p>
				</div>
                <div class="news">
					<p>Good luck!</p>
				</div>
			</div><!-- cB1 -->
			<div id="cB2">
				<h3>CHALLENGE NEWS</h3>
				<div class="about">
					<ul>
						<li>Challenge website is under constructon</li>
                        <li>Challenges begin MAY 2012</li>
                        <li>Look for our Android mobile app</li>
					</ul>
				</div>
			</div><!-- cB2 -->
		</div><!-- cB -->
		<div class="Cpad">
			<br class="clear" /><div class="Cbottomleft"></div><div class="Cbottom"></div><div class="Cbottomright"></div>
		</div><!-- Cpad -->
	</div><!-- content -->
	<div id="properspace"></div><!-- properspace -->
</div><!-- daddy -->
<div id="footer">
	<div id="foot">
		<div id="foot1"><a href="./">it391project@gmail.com</a> - <a href="./">FAQ</a></div><!-- foot1 -->
		<div id="foot2">
			Copyright 2011, IT391. Designed by <a href="http://www.symisun.com/" title="We digitalize your ambitions">SymiSun<span class="star">*</span></a>
		</div><!-- foot1 -->
	</div><!-- foot -->
</div><!-- footer -->
</body>
</html>
