
body {
width:900px;
height:1150px;
margin:auto;
margin-top:30px;
background-color:black;
}
 

/* ----- MAIN CONTENT ----- */
#container{
width:900px;
height: auto;
min-height:500px;
border-style:solid;
border-color: black;
background-color:white;
-moz-border-radius-topright: 50px 50px;
border-top-right-radius: 50px 50px;
-moz-border-radius-topleft: 50px 50px;
border-top-left-radius: 50px 50px;
-moz-border-radius-bottomleft: 50px 50px;
-moz-border-radius-bottomright: 50px 50px;
border-bottom-right-radius: 50px 50px;
border-bottom-left-radius: 50px 50px;
}

h1 {
	font-weight: bold;
	font-family: Arial;
	color:#FFFFFF;
}
h5 {
	font-weight: bold;
	font-family: Arial;
	color:black;
}

h4 {
	font-family: Arial;
	color:black;
}
form{
    margin-left: auto;
    margin-right: auto;
	width: 20em
}

/* ----- Color,Font, and Weight for Links----- */
a:link { 
	color:blue; 
	font-weight: bold;
	font-family: Arial;
	} 
a:visited {
	color:blue;
	font-weight: bold; 
	font-family: Arial;
	} 
a:hover {
	color:blue; 
	font-weight: bold; 
	font-family: Arial;
	}   
a:active {
	text-decoration:none; 
	color:blue; 
	font-weight: bold; 
	font-family: Arial;
	}
